@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl;
    color: #ec6152;
  }
  h2 {
    @apply text-3xl;
    font-weight: 800;
    color: rgb(20, 18, 19);
  }
}

/* custom animations for row slide  */

.row__img-wrapper {
  position: relative;
  overflow: hidden;
}

.row__img-wrapper__img--left {
  position: absolute;
  left: -100%;
  transition: 1s;
}
.row__img-wrapper__img--slide-right {
  position: absolute;
  transition: 1s;
  left: 0;
}

.row__img-wrapper__img--right {
  position: absolute;
  right: -100%;
  transition: 1s;
}

.row__img-wrapper__img--slide-left {
  position: absolute;
  transition: 1s;
  right: 0;
}
